@inherits LayoutComponentBase

<NavMenu />

<div class="container">
    @* Body Content *@
    @Body
</div>

<div class="bs-component" id="blazor-error-ui" data-nosnippet>
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close dismiss" data-bs-dismiss="alert"></button>
        <strong>An unhandled error has occurred.</strong>
        <a href="" class="reload">Reload</a>
    </div>
</div>