<div class="alert alert-light">
    <strong>No notes found!</strong>
    <br />It looks like the database doesn't contain any notes yet. Why not start by highlighting some passages in your favorite book?
</div>