@using bramvandenbussche.readwiser.domain.Model
@using bramvandenbussche.readwiser.domain.Interface.Business
@inject IHighlightService Service

<h3>Latest Notes</h3>

<p>Recent annotations</p>
<input type="number" @bind="@_maxNotes" />
<button class="btn btn-primary" @onclick="() => OnInitializedAsync()">Refresh</button>

@if (_recentNotes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var note in _recentNotes)
    {
        <SingleNote Highlight="@note" ShowBookDetails="true" />
    }
}


@code {
    private Highlight[]? _recentNotes;

    private int _maxNotes = 5;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("Loading data");
        _recentNotes = null;
        _recentNotes = (await Service.GetRecentHighlights(_maxNotes)).ToArray();
    }
}