@page "/authors"
@using bramvandenbussche.readwiser.domain.Interface.Business
@attribute [StreamRendering]

<PageTitle>Authors</PageTitle>

<p>List of authors with books that have notes</p>

<AuthorList />