@page "/"
@using bramvandenbussche.readwiser.web.Components.BuildingBlocks

<PageTitle>Readwiser</PageTitle>

<h1>Readwiser v1.0</h1>

<p>Welcome to Readwiser, a simple web application to manage your reading notes.</p>

<LatestNotes />