@page "/"
@attribute [StreamRendering]

<PageTitle>Readwiser - Home</PageTitle>

<h1>Readwiser v1.0</h1>

<p>Welcome to Readwiser, a simple web application to manage your reading notes.</p>

<LatestNotes />